.Grid {
  margin: 0 auto;
  width: columns(44);
  @media (min-width: $breakpoint-3) {
    width: columns(42);
  }
  @media (min-width: $breakpoint-4) {
    width: columns(38);
  }
  @media (min-width: $breakpoint-5) {
    width: columns(38);
  }
  @media (min-width: $breakpoint-6) {
    width: columns(36);
  }
}
