.Index {
  background: hsl(230, 3, 98);
  padding-bottom: $space-9;
  &-cards{
    position: relative;
    margin: (-$space-header-offset - 1rem) -1rem -1rem;
    z-index: 1;
    @media (min-width: $breakpoint-2) {
      display: flex;
      flex-wrap: wrap;
    }
    &--noOffset {
      margin: -1rem;
    }
  }
}
