.Post {
  &-grid {
    margin: 0 auto;
    width: 35rem;
    max-width: columns(44);
  }
  &-header {
    margin-top: $space-8;
    margin-bottom: $space-7;
  }
  &-superhead {
    display: block;
    @include small-caps;
    font-size: $font-size-0;
    color: $color-indigo-2;
    line-height: $baseline-8;
    margin-bottom: $space-4;
  }
  &-title {
    font-size: $font-size-4;
    margin-bottom: $space-5;
    line-height: $baseline-14;
  }
  &-attribution {
    display: flex;
    font-size: $font-size-0;
    align-items: center;
    &:hover {
      opacity: .8;
    }
  }
  &-attributionText {
    padding-left: 1.25rem;
    line-height: $baseline-6;
  }
  &-authorImage {
    width: 3rem;
    border-radius: 50%;
  }
  &-authorName {
    @include small-caps;
    color: $color-slate-1;
  }
  &-publishDate {
    color: $color-slate-3;
  }
  &-content {
    position: relative;
    p, h1, h2, h3, h4, h5, h6, img, hr, ul, ol, pre, blockquote, table {
      width: 35rem;
      max-width: columns(44);
      margin: 0 auto;
    }
    p {
      margin: 1rem auto;
      line-height: $baseline-9;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 3rem auto 1rem;
    }
    h3, h4, h5, h6 {
      margin: 2.2rem auto 1rem;
    }
    ul, ol {
      margin: 1rem auto;
    }
    ul, ol {
      & + img {
        margin-top: 0;
      }
    }
    ul, ol {
      line-height: $baseline-9;
      padding-left: 1.25rem;
    }
    li {
      margin: $baseline-1 0;
      list-style-type: disc;
      p {
        margin: 0;
      }
    }
    h1, h2 {
      font-size: $font-size-3;
      line-height: $baseline-11;
    }
    h3 {
      font-size: $font-size-2;
      line-height: $baseline-10;
    }
    h4 {
      @include small-caps;
      font-size: $font-size-1;
      font-weight: 600;
    }
    h5, h6 {
      font-size: $font-size-1;
    }
    a {
      color: $color-indigo-3;
      &:hover {
        opacity: .7;
      }
    }
    hr {
      border: 0;
      border-left: 3rem solid $color-slate-4;
      height: 1px;
      margin: 2rem auto;
      position: relative;
      left: 1.5rem;
    }
    pre {
      width: 52.2rem;
      max-width: 100%;
      background: hsl(240, 1, 97);
      border-radius: $border-radius;
      margin: $baseline-9 auto;
      word-break: break-all;
      word-wrap: break-word;
      padding: 1rem;
      box-shadow: $elevation-2;
      font-size: .9rem;
      line-height: 1.2;
      code {
        white-space: pre-wrap;
        background: none !important;
      }
    }
    code {
      background: hsl(240, 2, 95);
      border-radius: 2px;
      font-size: .9em;
      padding: .05em;
    }
    blockquote {
      border-left: 2px solid $color-teal;
      font-size: 1.1rem;
      padding-left: 1rem;
      margin: 1.5rem auto;
      p {
        margin: 0 0 1rem 0;
      }
    }
    table {
      margin: 1.5rem auto;
    }
    th, td {
      text-align: right;
      padding-left: 1.25rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
  &-image {
    background: url('/img/patterns/pattern_bg_medium.png');
    background-size: 100% auto;
    border-radius: $border-radius;
    padding: 1.8rem;
    margin: 2rem auto !important;
    display: flex;
    align-items: center;
    img {
      width: auto;
      max-width: 100%;
      box-shadow: $elevation-4;
      border-radius: $border-radius;
    }
  }
  &-cta {
    position: relative;
    p, h1, h2, h3, h4, h5, h6, img, hr, ul, ol, pre, blockquote, table {
      width: 35rem;
      max-width: columns(44);
      margin: 0 auto;
    }
    p {
      margin: 4rem auto;
      line-height: $baseline-9;
    }
    display: flex;
    align-items: center;
    img {
      width: auto;
      max-width: 100%;
    }
  }
  &-footer {
    border-top: 1px solid $color-slate-4;
    margin-top: $space-6;
    padding-top: $space-9;
    padding-bottom: $space-10;
  }
  &-footerHeader {
    font-size: $font-size-4;
    line-height: $baseline-15;
    margin-bottom: $space-8;
    text-align: center;
  }
  &-socialLinks {
    display: flex;
    width: 35rem;
    max-width: columns(44);
    margin: 2rem auto 0;
  }
  &-socialLinkLabel {
    color: $color-slate-3;
    margin: auto 2rem auto 0;
  }
  &-socialLink {
    margin-right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: opacity .1s;
    &:hover {
      opacity: .7;
    }
    &--linkedin {
      background-image: url('/img/social/post_linkedin.svg');
    }
    &--facebook {
      background-image: url('/img/social/post_facebook.svg');
    }
    &--twitter {
      background-image: url('/img/social/post_twitter.svg');
    }
    &--hackernews {
      background-image: url('/img/social/post_hackernews.svg');
    }
  }
}
