.PostCard {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  padding: 1rem;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  &--small {
    width: 22rem;
    @media (min-width: $breakpoint-2) {
      width: columns(1, 3);
    }
  }
  &--medium {
    width: 33rem;
    max-width: 100%;
    @media (min-width: $breakpoint-2) {
      width: 50%;
    }
  }
  &-cardWrap {
    height: 0;
    padding-bottom: 150%;
    position: relative;
    z-index: 2;
    .PostCard--medium & {
      @media (min-width: $breakpoint-5) {
        padding-bottom: 133.3%;
      }
    }
  }
  &-card {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: all .15s ease-out;
    &:hover {
      box-shadow: $elevation-4;
      transform: translateY(-.2rem);
    }
  }
  &-image {
    display: block;
    padding-bottom: 66.666%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-size: auto calc(100% + 2px);
    background-position: center -1px;
    background-repeat: no-repeat;
    background-color: white;
  }
  &-content {
    padding: $space-6 $space-8 $space-6 $space-7;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    .PostCard--medium & {
      @media (min-width: $breakpoint-1) {
        padding: $space-7 $space-9 $space-7 $space-8;
      }
    }
  }
  &-superhead {
    @include small-caps;
    display: block;
    color: $color-indigo-3;
    font-size: $font-size-0;
    line-height: $baseline-7;
    margin-bottom: $baseline-2;
    transition: .2s ease-out;
    &:hover {
      opacity: .8;
    }
  }
  &-headline {
    display: block;
    color: $color-slate-0;
    margin-bottom: $baseline-3;
    font-size: $font-size-2;
    line-height: $baseline-9;
    .PostCard--small {
      @media (max-width: $breakpoint-4) {
        font-size: $font-size-1;
      }
    }
  }
  &-publishDate {
    color: $color-slate-3;
    font-size: $font-size-0;
    line-height: $baseline-6;
  }
  &-excerpt {
    color: $color-slate-2;
    line-height: $baseline-8;
    margin-top: $space-5;
  }
  &-attribution {
    display: flex;
    margin-bottom: $space-1;
    @media (max-width: $breakpoint-6) {
      margin-bottom: $space-2;
    }
    &:hover {
      opacity: .8;
    }
  }
  &-authorImage {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  &-authorName {
    line-height: 2rem;
    @include small-caps;
    color: $color-slate-1;
    padding-left: 1rem;
    font-size: $font-size-0;
  }
}
