// Simple grid system helpers - todo: make responsive prefixed classes


@mixin columns($columns, $context: $column-count) {
  flex-basis: auto;
  width: columns($columns, $context);
}

.u-columns {
  @for $i from 1 to $column-count {
    &-#{$i} {
      flex-basis: auto !important;
      width: columns($i) !important;
    }
  }
}

.u-columnsBefore {
  @for $i from 1 to $column-count {
    &-#{$i} {
      margin-left: columns($i) !important;
    }
  }
}

.u-columnsAfter {
  @for $i from 1 to $column-count {
    &-#{$i} {
      margin-right: columns($i) !important;
    }
  }
}
