.u-fontWeight {
  &-400 {
    font-weight: 400 !important;
  }
  &-600 {
    font-weight: 600 !important;
  }
  &-800 {
    font-weight: 800 !important;
  }
  &-900 {
    font-weight: 900 !important;
  }
}
