<div class="PostCard PostCard--{{ include.size }}">
  <div class="PostCard-cardWrap">
    <div class="PostCard-card Card">
      <div>
        {% if post.cover_image %}
          <a class="PostCard-image" href="{{ post.url }}" style="background-image: url('/img/feature/{{post.cover_image}}')">
          </a>
        {% elsif post.hero_image %}
          <a class="PostCard-image" href="{{ post.url }}" style="background-image: url('/img/feature/{{post.hero_image}}')">
          </a>
        {% else %}
          {% capture default_artwork %}{% assign_artwork post.url %}{% endcapture %}
          <a class="PostCard-image" href="{{ post.url }}" style="background-image: url('/img/patterns/pattern-{{default_artwork}}.jpg')">
          </a>
        {% endif %}
      </div>
      <div class="PostCard-content Card-content">
        <div class="PostCard-storyDetails">
          <a class="PostCard-superhead" href='{{ "/category/" | append: post.categories.first }}/'>{{ post.categories.first }}</a>
          <a href="{{ post.url }}" class="PostCard-headline">{{ post.title | truncate: 65 }}</a>
          <div class="PostCard-publishDate">{{ post.publish_date }}</div>
          {% if include.size == "large" or include.size == "medium" %}
            <div class="PostCard-excerpt">{{ post.excerpt | strip_html | truncate: 135 }}</div>
          {% endif %}
        </div>
        <div class="PostCard-footer">
          <a class="PostCard-attribution" href="http://www.twitter.com/{{ post.author_twitter }}" target="_blank">
            <img class="PostCard-authorImage" src="{{ site.baseurl}}/img/authors/{{ post.author_avatar }}.jpg" alt="author-image" />
            <div class="PostCard-authorName">{{ post.author_name }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
