<nav class="TopBar TopBar--{{include.modifier}}">
  <a class="TopBar-logoWrap" href="/">
    {% if include.modifier == "light" %}
      <img class="TopBar-logo" src="{{site.baseurl}}/img/logos/logo_white.svg" alt="bugsnag logo" />
    {% else %}
      <img class="TopBar-logo" src="{{site.baseurl}}/img/logos/logo_dark.svg" alt="bugsnag logo" />
    {% endif %}
  </a>
  <div class="TopBar-links">
    <a href="https://www.bugsnag.com/product/" class="TopBar-link" data-dropdown-link="Product">Product</a>
    <a href="https://www.bugsnag.com/customers/" class="TopBar-link">Customers</a>
    <a href="https://www.bugsnag.com/pricing/" class="TopBar-link">Pricing</a>
    <a href="https://docs.bugsnag.com/" class="TopBar-link">Docs</a>
    <a href="https://app.bugsnag.com/user/sign_in/" class="TopBar-link TopBar-signIn">Sign in</a>
  </div>
</nav>
