$breakpoint-1: 600px;
$breakpoint-2: 900px;
$breakpoint-3: 1000px;
$breakpoint-4: 1200px;
$breakpoint-5: 1400px;
$breakpoint-6: 1600px;
$breakpoint-7: 1800px;
$breakpoint-8: 2000px;

$mainCols-0: 42;
$mainCols-1: 42;
$mainCols-2: 40;
$mainCols-3: 38;
$mainCols-4: 36;
$mainCols-5: 36;
$mainCols-6: 36;
$mainCols-7: 36;
