$color-navy: #000d47;

$color-slate-0: #171A2C;
$color-slate-1: #393D51;
$color-slate-2: #5B6071;
$color-slate-3: #A8ACC2;
$color-slate-4: hsl(230, 8, 80);

$color-indigo-0: #021151;
$color-indigo-1: #2B2BA0;
$color-indigo-2: #534EC4;
$color-indigo-3: #5051DB;
$color-indigo-4: #6179FF;
$color-indigo-5: #A6BBF4;


$color-teal: #39C1D8;

$colors: (purple: (0: #f9f4ff, 4: #a260ff, 8: #7340d2, a0: #7225ef, 1: #e7cfff, 2: #d3aaff, 3: #bc86ff, 5: #9658f4, 6: #8a50e8, 7: #7f48dd), blue: (0: #faf9ff, 4: #6078ff, 8: #2b52b4, 1: #dad7ff, 2: #b8b6ff, 3: #9196ff, 5: #536eec, 6: #4665d9, 7: #395bc6), gold: (0: #f2f1f1, 4: #ffa100, 8: #cc7d00, 1: #feddbd, 2: #ffc88a, 3: #ffb555, 5: #f29800, 6: #e58f00, 7: #d98600), coral: (0: #fff4f4, 4: #ff5b61, 8: #dc3240, 1: #ffd0cd, 2: #ffaca8, 3: #ff8683, 5: #f65159, 6: #ee4750, 7: #e53d48), teal: (0: #f6fbfc, 4: #35c0d8, 8: #1d9fae, 1: #cfecf3, 2: #a6deea, 3: #78cfe1, 5: #2fb8cd, 6: #29afc3, 7: #23a7b8), grey: (0: #f8f8f8, 4: #b7b7bc, 8: #1f1f2c, 1: #e7e7e9, 2: #d7d7da, 3: #c7c7cb, 5: #8e8d95, 6: #666670, 7: #41414d), indigo: (4: #4949e4, 7: #2f3293, 8: #000d47));
