$elevation-1: 0 1px 3px hsla(240,35,20,0.06), 0 1px 2px hsla(240,35,20,0.12);
$elevation-2: 0 3px 6px hsla(240,35,20,0.08), 0 3px 6px hsla(240,35,20,0.115);
$elevation-3: 0 10px 20px hsla(240,35,20,0.095), 0 6px 6px hsla(240,35,20,0.115);
$elevation-4: 0 14px 28px hsla(240,35,20,0.125), 0 10px 10px hsla(240,35,20,0.11);
$elevation-5: 0 19px 38px hsla(240,35,20,0.15), 0 15px 12px hsla(240,35,20,0.11);
