* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: color(grey, 0);
  line-height: 1;
  font-family: $font-default;
  max-width: $breakpoint-8;
  margin: 0 auto;
  font-size: 13px;
  overflow-x: hidden;
  @media (min-width: $breakpoint-2) {
    font-size: calc(13.5px + (20 - 13.5) * (100vw - 900px) / (2000 - 900));
  }
  @media (min-width: $breakpoint-8) {
    font-size: 20px;
  }
}

html, body {
  position: relative;
}

html {
  color: $color-slate-1;
}

body {
  box-shadow: 0 0 1rem hsla(0, 0, 0, .1), 0 0 2rem hsla(0, 0, 0, .2), 0 0 4rem hsla(0, 0, 0, .2);
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

strong {
  font-weight: 800;
}

table {
  border-collapse: collapse;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  text-decoration: inherit;
}
