{% if page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}

<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ title }}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}">
  <meta property="og:type" content=" {% if page.title != site.title %}article{% else %}website{% endif %}">
  {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
  {% if page.hero_image %}<meta property="og:image" content="{{ site.url }}/img/feature/{{ page.hero_image }}">{% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bugsnag">

  <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96">

  <link rel="stylesheet" href="/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}" />

  <!--[if lt IE 9]>
  <script src="{{ "/js/vendor/html5shiv.min.js" }}"></script>
  <![endif]-->

  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
    analytics.load("jwWR5LnWa0z2SXjrWaLfPajTXQk90ali");
    analytics.page()
    }}();
  </script>
  <!-- Autopilot -->
  <script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="43736f8c47d84b068cdf914a8b4af5c1e82e2d90435d496a982b005dc3f26675",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
  <!-- End Autopilot -->
</head>

<body>
  {{ content }}
  {% include footer.html %}

  <script src="{{'/js/vendor/jquery-1.11.2.min.js' }}"></script>
  <script src=' {{ "/js/main.min.js" }}'></script>
</body>

</html>
