---
layout: base
---

<div class="Header">
  {% include TopBar.html modifier="light" %}
    {% if page.category %}
      <div class="Header-text">
        <div class="Header-superhead">category</div>
        <h1 class="Header-pageTitle">{{page.category}}</h1>
      </div>
    {% else %}
      <div class="Header-spacer">
    {% endif %}
  </div>
</div>
<div class="Index">
  <div class="Grid">
    <div class="Index-cards">
      {% if page.category %}
        {% for post in site.categories[page.category] %}
          {% unless post.draft %}
            {% include post-card.html size="small" %}
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for post in paginator.posts %}
          {% unless post.draft %}
            {% if paginator.page == 1%}
              {% if forloop.index == 1 or forloop.index == 2 %}
                {% include post-card.html size="medium" %}
              {% elsif forloop.index == 3 %}
                {% include promotion.html name="about" %}
                {% include post-card.html size="small" %}
              {% elsif forloop.index == 7 %}
                {% include promotion.html name="hiring" %}
                {% include post-card.html size="small" %}
              {% else %}
                {% include post-card.html size="small" %}
              {% endif %}
            {% else %}
              {% include post-card.html size="small" %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% if paginator.total_pages > 1 %}
    <div class="Pagination">
      {% if paginator.previous_page %}
        <a class="Pagination-link" href="{{ paginator.previous_page_path }}">&lsaquo; Previous Page</a>
      {% endif %}
      {% if paginator.next_page %}
        <a class="Pagination-link" href="{{ paginator.next_page_path }}">Next Page &rsaquo;</a>
      {% endif %}
    </div>
  {% endif %}
</div>
